{% extends "layout.html.twig" %}
{% block content %}
    <div id="tooplate_main">
        <img src="/images/piedra-papel-tijera-lagarto-spock.png">
    </div> <!-- end of wrapper -->
</div>
{% endblock %}